*.zip
*.cbp
.idea
lin64
win64
mac64
BetterPushback
lin_x64
win_x64
mac_x64
src/cmake-build-debug
src/CMakeFiles
src/CMakeCache.txt
src/cmake_install.cmake
src/Makefile
src/.cmake
src/Testing
build_release_ob
src/CMakeLists.txt
